<div class="row">
    <nav class="navbar navbar-expand-sm navbar-dark col-12" style="background-color:rgba(22, 23, 71, 1);">
        <div class="container-fluid">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
            <a class="navbar-brand" href="/">Classroom</a>
            <div class="d-flex flex-row-reverse" id="navbarNav">
            <ul class="navbar-nav nav-menu">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="image/profil.png" class="profile-image" alt="profile image"> 
                        Account Name
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">Profile</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Logout</a></li>
                    </ul>
                </li>
            </ul>
            </div>
        </div>
    </nav>
</div>